FitabaseData4.12.16-5.12.16/dailyActivity_merged.csv
FitabaseData4.12.16-5.12.16/dailyCalories_merged.csv
FitabaseData4.12.16-5.12.16/dailyIntensities_merged.csv
FitabaseData4.12.16-5.12.16/dailySteps_merged.csv
FitabaseData4.12.16-5.12.16/heartrate_seconds_merged.csv
FitabaseData4.12.16-5.12.16/hourlyCalories_merged.csv
FitabaseData4.12.16-5.12.16/hourlyIntensities_merged.csv
FitabaseData4.12.16-5.12.16/hourlySteps_merged.csv
FitabaseData4.12.16-5.12.16/minuteCaloriesNarrow_merged.csv
FitabaseData4.12.16-5.12.16/minuteCaloriesWide_merged.csv
FitabaseData4.12.16-5.12.16/minuteIntensitiesNarrow_merged.csv
FitabaseData4.12.16-5.12.16/minuteIntensitiesWide_merged.csv
FitabaseData4.12.16-5.12.16/minuteMETsNarrow_merged.csv
FitabaseData4.12.16-5.12.16/minuteSleep_merged.csv
FitabaseData4.12.16-5.12.16/minuteStepsNarrow_merged.csv
FitabaseData4.12.16-5.12.16/minuteStepsWide_merged.csv
FitabaseData4.12.16-5.12.16/sleepDay_merged.csv
FitabaseData4.12.16-5.12.16/weightLogInfo_merged.csv
